@import url(//fonts.googleapis.com/css?family=Share+Tech+Mono);

@font-face {
  font-family: 'Sudo';
  src: local('Sudo'), url(./fonts/sudo/Sudo-Regular.ttf) format('truetype');
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.landing-title {
  font-family: 'Share Tech Mono', monospace;
}

.section-title {
  font-family: 'Sudo', monospace;
  color: #3a3a52;
  margin: 3rem;
  font-size: 3.5rem;
}

.section-text {
  font-family: 'Sudo', monospace;
  font-size: 1.8rem;
  margin: 1rem;
  color: grey;
}

.section-text-title {
  font-size:2rem;
  color: black;
}

.section-wrapper {
  width: 90%;
  height: auto;
  margin: auto;
}

.section-content-wrapper {
  width: 100%;
  height: auto;
  margin: auto;
}

.petal {
  width: 1.8em;
  offset-path: path(
    "M0.5 3.50006C38 -4.99989 78.4718 7.16309 71.5 48M71.5 48C66.2397 59.154 57.816 57.6847 55 55.5001C52.184 53.3155 52.1268 50.8724 55 48.0001C57.8732 45.1277 64 45.5 71.5 48ZM71.5 48C93.7383 65.457 89 121 68.5 121"
  );
}