@import url(//fonts.googleapis.com/css?family=Share+Tech+Mono);

@font-face {
  font-family: 'Sudo';
  src: local('Sudo'), url(./fonts/sudo/Sudo-Regular.ttf) format('truetype');
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.landing-title {
  font-family: 'Share Tech Mono', monospace;
}

.section-title {
  font-family: 'Sudo', monospace;
  color: #3a3a52;
  margin: 1rem;
  font-size: 3.5rem;
}

.section-text {
  font-family: 'Sudo', monospace;
  font-size: 1.8rem;
  margin: 1rem;
  color: grey;
}

.section-text-title {
  font-size:2rem;
  color: black;
}

.section-wrapper {
  width: 90%;
  height: auto;
  margin: auto;
}

.section-content-wrapper {
  width: 100%;
  height: auto;
  margin: auto;
}