@import url(//fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(//fonts.googleapis.com/css?family=Lora);




@font-face {
  font-family: 'Sudo';

  src: local('Sudo'), url(./fonts/sudo/Sudo-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

* {
  font-family: 'Sudo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





